.parent-class {
    .containerx{
        // background-color: rgb(236, 242, 55);
        background-color: white;
        height: 100vh;
        color: black;
        .successIcon{
            // background-color: cyan;
            background-color: rgb(236, 242, 55);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }
        .success-icon{
            display: inline-block;
            transform: scale(5);
            filter: invert(100%);
        }
        .statistic{
            width: 500px;
            margin-left: 500px;
            padding-left: 100px;
            font-size: 1.5rem;
            display: inline-block;
        }
        .percentage{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}