.parent-class {
    background-color: black;
    height: 100vh;
    width: 100vw;
    .containerx{
        // background-color: rgb(236, 242, 55);
        background-color: #141414;
        height: 100vh;
        color: white;
        .successIcon{
            // background-color: cyan;
            background-color: rgb(236, 242, 55);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }
        .success-icon{
            display: inline-block;
            transform: scale(5);
            filter: invert(100%);
        }
        .statistic{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.5rem;
        }
        .percentage{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
@media (max-width:440px) {
    .parent-class {
        .containerx{
            .statistic{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-size: 1.3rem;
            }
            .percentage{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
    @media (max-width:380px) {
        .parent-class {
            .containerx{
                .statistic{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 1rem;
                }
                .percentage{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h1{
                        font-size: 1.3rem;
                    }
                    h2{
                        
                        font-size: 1rem;
                    }
                }
            }
        }
        @media (max-width:260px) {
            .parent-class {
                .containerx{
                    .statistic{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        font-size: 0.8rem;
                    }
                    .percentage{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h1{
                            font-size: 1.1rem;
                        }
                        h2{
                            
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
}