*{
    // background-color: red;
    // color: red;
}
.container-fluid{
    color: cyan;
    // background-color: black;
    // height: 100%;
}
.navbar-toggler-icon{
    filter: invert(100%);
    border: 1px solid grey;
    border-radius: 5px;
}
.container-fluid{
    color: cyan;
    // background-color: white;
    .navbar-brand{
        color: white;
    }
    #let{
        color:white
    }
    .nav-link{
        color: white;
    }
}