*{
    // background-color: red;
    // color: red;
}
.container-fluid{
    color: cyan;
    // background-color: black;
    // height: 100%;
}
.container-fluid{
    color: cyan;
    // background-color: white;
    .navbar-brand{
        color: white;
    }
    #let{
        color:white
    }
    .nav-link{
        color: white;
    }
}