// *{
//     top:0px;
//     left:0px;
//     // background-color: white;
// }
#wallpaper {
    background-image: url('../../assets/img/bg-blk-text-1.png');
    // background-size: cover;
    // background-position: center;
    // background-color: rgb(184, 252, 252);
    background-color: #141414;
    height: 100vh;

    // background-color: white;
    .container {
        // height: 1600px;
        // background-color: black;
        .heading {
            // border: 5px solid black;
            border-radius: 13px;
            // background-color: rgba(192, 0, 0,0.9);
            // background-color: orange;
            background-color: rgb(181, 253, 110);
            // background-color: rgb(250, 122, 76);
            color: black;
            // padding: 10px;
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        background-color: transparent;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;

        .example {
            width: 80%;
            // border: 5px solid black;
            height: 350px;
            border-radius: 13px;
            // background-color: rgba(255, 255, 255, 0.2);
            background-color: rgba(0,0,0,0.5);
            // background-color: rgba(210, 42, 30,0.8);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            // margin-bottom: 1500px; 
            .framework img {
                height: 250px;
            }

            h1 {
                font-size: 1.2rem;
                color: rgb(37, 150, 150);
            }

            .package-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                // color: red;
                // font-size: 0.8rem;
                // border: 2px solid red;
                flex-direction: row;
            }

            .comments {
                margin-left: 75px;

                li {
                    margin-bottom: 20px;
                    // font-size: 20px;
                    font-size: 1rem;
                }
            }
        }

        .Modalquestion {
            width: 80%;
            height: 350px;
            // border: 5px solid black;
            margin-top: 20px;
            border-radius: 13px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 15px;

            h1 {
                color: black;
            }

            .package-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }

            .framework-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                img {
                    height: 250px;
                }
            }

            .comments-1 {
                margin-left: 75px;

                li {
                    margin-bottom: 20px;
                    // font-size: 20px;
                    font-size: 1rem;
                }
            }
        }

        .internal-mrk {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;
        }

        .marker {
            height: 325px;
            // margin-bottom: 40px;
            position: relative;
            width: 80%;
            // border: 5px solid black;
            border-radius: 13px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                // color: blue;
            }

            .marker-1 {
                border-radius: 10px;
            }

            .framework-2 {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                img {
                    height: 200px;
                }
            }

            .comments-2 {
                margin-left: 75px;

                .box-1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }

                .green-box {
                    height: 20px;
                    width: 20px;
                    background-color: rgb(35, 252, 35);
                    margin-right: 20px;
                    border-radius: 3px;
                }

                .green {
                    color: rgb(35, 252, 35);
                }

                .box-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }

                .red-box {
                    height: 20px;
                    width: 20px;
                    background-color: rgb(255, 22, 22);
                    margin-right: 5px;
                    border-radius: 3px;
                }

                .red {
                    color: rgb(255, 22, 22);
                }

                .box-3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }

                .grey-box {
                    height: 20px;
                    width: 20px;
                    background-color: silver;
                    margin-right: 20px;
                    border-radius: 3px;
                }

                .grey {
                    color: silver;
                }
            }
        }
    }
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
}

.left {
    height: 50px;
    width: 30%;
    background-color: rgb(253, 45, 45);
    border-radius: 13px;
    margin-top: 20px;
    cursor: pointer;
    // margin-bottom: 20px;
    text-align: center;

    a.Back {
        color: black;
        text-decoration: none;
        list-style: none;
        font-weight: bold;

        .leave {
            height: 50px;
            width: 100%;
            border-radius: 13px;
            padding: 12px;
        }
    }
}

.right {
    height: 50px;
    width: 30%;
    background-color: rgb(184, 250, 84);
    border-radius: 13px;
    text-align: center;
    margin-top: 20px;
    // margin-bottom: 20px;

    a.Forward {
        color: black;
        text-decoration: none;
        list-style: none;
        font-weight: bold;

        .continue {
            height: 50px;
            width: 100%;
            border-radius: 13px;
            padding: 12px;
        }
    }

    cursor: pointer;
}

@media (max-width:770px) {
    #wallpaper {
        .container {
            .example {
                li {
                    font-size: 0.9rem;
                }

                #c {
                    li{
                        font-size: 0.7rem;
                    }
                }

            }
            .Modalquestion{
                .comments-1{
                    li{
                        font-size: 0.9rem;
                    }
                }
            }
            .marker{
                .green{
                    font-size: 1rem;
                }
                .red{
                    font-size: 1rem;
                }
                .grey{
                    font-size: 1rem;
                }
                li{
                    font-size: 0.8rem;
                }
            }
            .options{
                display: flex;
                justify-content: space-evenly;
                margin-top: 0px;
                .left{
                    height: 50px;
                    width: 40%;
                }
                .right{
                    height: 50px;
                    width: 40%;
                }
            }
        }
    }
}
@media (max-width:570px) {
    #wallpaper {
        .container {
            // background-color: rgb(42, 106, 165);
            color: white;
            .example {
                li {
                    font-size: 0.7rem;
                }

                #c {
                    li{
                        font-size: 0.7rem;
                    }
                }

            }
            .Modalquestion{
                .comments-1{
                    li{
                        font-size: 0.9rem;
                    }
                }
            }
            .marker{
                .green{
                    margin-left: 0px;
                    font-size: 0.9rem;
                }
                .red{
                    font-size: 0.9rem;
                    margin-left: 10px;
                }
                .box-2{
                    margin-left: 10px;
                }
                .grey{
                    font-size: 0.9rem;
                }
                li{
                    margin-left: 0px;
                }
            }
            .options{
                display: flex;
                justify-content: space-evenly;
                margin-top: 0px;
                .left{
                    height: 50px;
                    width: 40%;
                }
                .right{
                    height: 50px;
                    width: 40%;
                }
            }
        }
    }
}
@media (max-width:570px) {
    #wallpaper {
        .container {
            // background-color: rgb(42, 106, 165);
            color: white;
            .example {
                h1{
                    font-size: 0.8rem;
                }
                .framework{
                    margin-right: 10px;
                    img{
                        margin-right: 0px;
                        height: 150px;
                    }
                }

                #c {
                    margin-left: 10px;
                    li {
                        font-size: 0.7rem;
                    }
                }

            }
            .Modalquestion{
                h1{
                    font-size: 1rem;
                }
                .framework-1{
                    margin-right: 0px;
                    img{
                        height: 150px;
                    }
                }
                .comments-1{
                    height: 200px;
                    width: 150px;
                    margin-left: 20px;
                    li{
                        font-size: 0.6rem;
                    }
                }
            }
            .marker{
                .framework-2{
                    margin-right: 0px;
                    img{
                        height: 150px;
                    }
                }
                .comments-2{
                    width: 100%;
                    margin-left: 10px;
                }
                .green{
                    margin-left: 0px;
                    font-size: 0.6rem;
                    width: 100px;
                }
                .red{
                    font-size: 0.6rem;
                    margin-left: 10px;
                    width: 100px;
                }
                .box-2{
                    margin-left: 0px;
                    .red-box{
                        margin-left: 0px;}
                }
                .box-3{
                    margin-left: 0px;
                }
                .grey{
                    font-size: 0.6rem;
                }
                li{
                    margin-left: 0px;
                }
            }
            .options{
                display: flex;
                justify-content: space-evenly;
                margin-top: 0px;
                .left{
                    height: 50px;
                    width: 40%;
                    font-size: 1rem;
                }
                a.Back{
                    font-weight: bold;
                    font-size: 0.8rem;
                }
                a.Forward{
                    font-weight: bold;
                    font-size: 0.8rem;
                }
                .right{
                    height: 50px;
                    width: 40%;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media (max-width:388px) {
    #wallpaper {
        .container {
            h1{
                font-size: 1rem;
            }
            .heading{
                p{
                    font-size: 0.6rem;
                }
            }
            // background-color: rgb(42, 106, 165);
            color: white;
            .example {
                width: 100%;
                li{

                    font-size: 0.5rem;
                }
                h1{
                    margin-bottom: 30px;
                    font-size: 0.7rem;
                }
                .package-1{
                    margin-left: 0px;
                    width: 100%;
                }
                .framework{
                    margin-right: 10px;
                    margin-left: 0px;
                    img{
                        margin-left: 0px;
                        height: 150px;
                    }
                }

                #c {
                    margin-left: 10px;
                    li {
                        margin-bottom: 0px;
                        font-size: 0.5rem;
                    }
                }

            }
            .Modalquestion{
                width: 100%;
                h1{
                    font-size: 0.8rem;
                }
                .framework-1{
                    margin-right: 0px;
                    img{
                        height: 150px;
                    }
                }
                .comments-1{
                    height: 200px;
                    width: 90px;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        width: 100%;
                        margin-bottom: 0px;
                        font-size: 0.5rem;
                    }
                }
            }
            .marker{
                width: 100%;
                .framework-2{
                    img{
                        margin-right: 0px;
                        height: 140px;
                    }
                }
                .comments-2{
                    width: 100%;
                    margin-left: 10px;
                }
                .box-1{
                    margin-left: 0px;
                    .green-box{
                        height: 10px;
                        width: 10px;
                        margin-right: 0px;
                    }
                    .green{
                        margin-left: 0px;
                        font-size: 0.52rem;
                        width: 100px;
                    }
                }
                .box-2{
                    margin-left: 0px;
                    .red-box{
                        height: 10px;
                        width: 10px;
                        margin-right: 0px;
                    }
                        .red{
                            font-size: 0.52rem;
                            margin-left: 0px;
                            width: 100px;
                        }
                }
                .box-3{
                    margin-left: 0px;
                    .grey-box{
                        margin-right: 5px;
                        height: 10px;
                        width: 10px;
                    }
                    .grey{
                        margin-right:15px;
                        margin-left: 0px;
                        font-size: 0.52rem;
                    }
                }
                li{
                    margin-top: 20px;
                    margin-left: 0px;
                    // color: wheat;
                    font-size: 0.6rem;
                }
            }
            .options{
                display: flex;
                justify-content: space-evenly;
                // background-color: white;
                margin-top: 0px;
                .left{
                    height: 40px;
                    width: 45%;
                    font-size: 1rem;
                }
                a.Back{
                    font-weight: bold;
                    font-size: 0.6rem;
                }
                a.Forward{
                    font-weight: bold;
                    font-size: 0.6rem;
                }
                .right{
                    height: 40px;
                    width: 45%;
                    font-size: 1rem;
                }
            }
        }
    }
}