
#register{
    background-image: url(../../assets/img/blk-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#passwordHelp{
    color: white;
}
#emailHelp{
    color: white;
}